/* * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}
 */
/* body {
  margin: 0;
  background-color: #071624;
  padding: 10px;
  height: 100vh;
} */

.root {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 450px;
  margin: 56px auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f7f89b; */
}

input,
textarea, div {
  background: none;
  width: 100%;
}

.root button {
  width: 100%;
}
